.friend{
    width: 400px;
    height: 500px;
    background-color: white;
    text-align: center;
    font-family: 'Courier New', monospace;
     position: absolute;
     top:0;
     bottom: 0;
     left: 0;
     right: 0;
     border-radius: 30px;
      margin: auto;
 }

 .bton{
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    border: 0ch;
 }
 .bton:hover{
    background-color: orangered;
 }
 .yess{
    font-size: 10px;
    color: chocolate;
    
 }